name: DevSecOps Pipeline

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: snyk/actions/setup@master

      # ---------------------------
      # SAST - Snyk Code
      # ---------------------------
      - name: Snyk SAST
        run: snyk code test
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      # ---------------------------
      # SCA - Snyk Open Source
      # ---------------------------
      - name: Snyk SCA
        run: snyk test --all-projects
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      # ---------------------------
      # IaC Scan
      # ---------------------------
      - name: Snyk IaC
        run: snyk iac test
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      # ---------------------------
      # Build App
      # ---------------------------
      - name: Build Docker Image
        run: docker build -t myapp .

      - name: Run App in Container
        run: docker run -d -p 8080:8080 myapp

      # ---------------------------
      # ZAP Baseline DAST
      # ---------------------------
      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.9.0
        with:
          target: "http://localhost:8080"
